@media screen and (min-width:200px) and (max-width:575px){

section{
    
    padding: 50px;
}


section div{
    padding: 0px 10px;
}

section div table thead{
    margin: 1px;
}

section div table thead tr th{
    padding: 5px;
}

section div table tbody tr td{
    padding: 5px;
}

}




