@media screen and (min-width:200px) and (max-width:575px){

section{
    
    padding: 50px;
}


section div{
    padding: 0px 10px;
}

section div table{

    table-layout: fixed;
}

section div table thead{
    margin: 1px;
}

section div table thead tr th{
    word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 10px 15px;
        font-size: 12px;
}

section div table tbody tr td{
    word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 10px 15px;
        font-size: 12px;
}

}




